/* --------------------Global style */

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    color: #445361;
    text-align: center;
}

/* --------------------Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* --------------------Game layout */