/* --------------------Global style */

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    color: #445361;
    text-align: center;
}

/* --------------------Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* --------------------Game layout */

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.question-area span {
    padding: 0 15px;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}


/* ----------------------buttons */